.forgot-reset-password-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: 300px;
  border-radius: 10px;
  transition-duration: 0.5s;
}

.forgot-reset-password-div.light-theme {
  background-color: white;
}

.forgot-reset-password-div.dark-theme {
  background-color: rgb(26, 27, 38);
}

.forgot-password-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.message-p.dark-theme {
  color: white;
}

.message-p {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
}
