@media only screen and (max-width: 570px) {
  .forgot-reset-password-div {
    width: 450px;
    height: 250px;
    border-radius: 8px;
  }

  .message-p {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
  }
}

@media only screen and (max-width: 470px) {
  .forgot-reset-password-div {
    width: 350px;
    height: 350px;
    border-radius: 8px;
  }
}
